.movie-card {
    margin-top: 0;
    margin-bottom: 35px;
    color: #000000;
    background: #FDFDFD;
  }
  
  .movie-card__content {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-between;
    column-gap: 500px;

  }
  
  .movie-card__info {
    display: flex;
    flex-direction: column;
    grid-column: 1;
  }
  
  .movie-card__title {
    margin: 0;
    padding-top: 14px;
    padding-left: 14px;
  
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }
  
  .movie-card__duration {
    margin: 0;
    padding-top: 13px;
    padding-left: 14px;
    padding-bottom: 30px;
    color: #A0A0A0;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
  }
  
  .movie-card__image {
    max-width: 220px;
    max-height: 122px;
    grid-column: 2;
  }
  
  .movie-card__button {
    margin: 0 0 22px;
    padding-left: 28px;
    background-color: #FFFFFF;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:contain; 
    border: none;
    cursor: pointer;
    width: 14px;
    height: 12px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
  }
  
  .movie-card__button_type_in-bookmark {
    background-image:url(../../../images/like_save.svg);
  
  }
  
  .movie-card__button_type_remove-bookmark {
    background-image:url(../../../images/like_notsave.svg);

  }
  
  .movie-card__button_type_in-bookmark:hover {
    background: url("/src/images/delete-bookmark.svg") white no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  
  .movie-card__button:hover {
    background-color: white;
    opacity: .7;
  }
  
  @media screen and (max-width: 945px) {
    .movie-card__content {
      column-gap: 150px;
    }
    
   }

   @media screen and (max-width: 600px){
     .movie-card {
       margin: 0;
     }
    .movie-card__content {
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;

  
    }
    .movie-card__info {
      display: grid;
      grid-template-columns: 1fr, 1fr;
      grid-template-rows: 1fr, 1fr;
      grid-column: 1;
    }
    
    .movie-card__title {
      margin: 0;
      padding: 14px 22px 8px 0;
      grid-column: 1;
      grid-row: 1;
      font-size: 12px;
      line-height: 15px;
    }
    
    .movie-card__duration {
      margin: 0;
      padding-left: 0;
      padding-bottom: 34px;
      font-size: 11px;
      line-height: 13px;
    }
    
    .movie-card__image {
      max-width: 300px;
      max-height: 168px;
      grid-column: 2;
    }
    
    .movie-card__button {
      margin-top: 16px;
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
    }
   }
   @media screen and (max-width: 400px){
    .movie-card__content {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column-reverse;

  
    }
   }
   
   